<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Login_servlet</servlet-name>
    <servlet-class>servlet.Login_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_servlet</servlet-name>
    <url-pattern>/servlet/Login_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserInform</servlet-name>
    <servlet-class>servlet.UserInform</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInform</servlet-name>
    <url-pattern>/servlet/UserInform</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Medical_Result</servlet-name>
    <servlet-class>servlet.Medical_Result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Medical_Result</servlet-name>
    <url-pattern>/servlet/Medical_Result</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QA</servlet-name>
    <servlet-class>servlet.QA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QA</servlet-name>
    <url-pattern>/servlet/QA</url-pattern>
  </servlet-mapping>
  <filter>
    <description>CharacterEncodingFilter</description>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>  
                servlet.CharacterEncodingFilter  
            </filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
</web-app>